<nav id="navigation" class="pa3 pa4-ns">
  {{ partial src="nav"}}
</nav>
<header>
    {{ partial src="grid"}}
</header>

<section id="over" class="bg-white ">
    <div class="w-80 subtitle center">
      <h2>Over</h2>
    </div>
  {{ partial src="about"}}
</section>

<div class="section__wrapper">
  <section id="opleidingen" class=" flex flex-wrap w-80  center">
    <div class="w-80 subtitle ">
      <h2>Opleidingen</h2>
    </div>
  {{ atelier }}
    {{ if multiple == false }}
      {{ partial src="atelier"}}
    {{ elseif multiple == true }}
    {{ partial src="atelier--adult"}}
    {{ /if }}
  {{ /atelier }}
      
  </section>



  <footer class="pa4 pa5-l black-70 bt b--black-10 bg-white">
    {{ partial src="footer"}}
  </footer>
</div>