<nav id="navigation" class="pa3 pa4-ns">
  {{ partial src="nav"}}
</nav>
<div class="mb4 ml5 dn dib-l"><img class="nav__logo fixed-l " src="{{ theme:asset src="img/logo.png" }}"></div>
<header>
    {{ partial src="grid"}}
</header>

<section class="bg-white">
    <div id="over" style="height:8rem;width:100%;"></div>
    <div class="w-80 subtitle center">
        
      <!-- <h2 class="mt5 ph5 pv1">Over</h2> -->
    </div>
  {{ partial src="about"}}
</section>

<div class="section__wrapper">
  <div id="opleidingen" style="height:8rem;width:100%;"></div>
  <section class=" flex flex-wrap w-80  center">
    <div class="w-80 subtitle ">
      <h2 class="mt5 ph5 pv1">Opleidingen</h2>
    </div>
        
    <div class="flex w-100 pb3 flex-wrap">
      
        {{ atelier }}
          <a
            class="w-auto-ns w-100 tc link black dib ma3 bg-white ph5 pv2 atelier__nav"
            href="/#{{ title | dashify }}"
            title="{{ title }}"
          >{{ title }}</a>
        {{ /atelier }}
      
      
    </div>
    <div class="ateliers__container">
      {{ atelier }}
        {{ if collection == false }}
          {{ partial src="atelier"}}
        {{ elseif collection == true }}
        {{ partial src="atelier--adult"}}
        {{ /if }}
      {{ /atelier }}
    </div>
      
  </section>

  <div id="inschrijven" style="height:8rem;width:100%;"></div>
  <section class="pa4 pa5-l bg-white w-80 f3 center">
    {{ partial src="inschrijvingen" }}
  </section>

  <div id="contact" style="height:8rem;width:100%;"></div>
  <footer class="pa4 pa5-l flex bg-white w-100  center">
      
    <div class="w-80 center">
        <h2 class="mt5 pv1 w-100 pa5 pl0">Contact</h2>      
      
      {{ partial src="footer"}}
    </div>
  </footer>
  <div class="w-100 flex justify-center">
      <img class="footer__logo" src="{{ theme:asset src="img/logo.png" }}">
    </div>
</div>