<nav id="navigation" class="pa3 pa4-ns">
  
  {{ partial src="nav"}}
</nav>
<!-- <div class="w-100 pa2 pt mt6 lh-copy f3 bg-yellow" style="padding-left:5vw; padding-right:5vw;">Om de verspreiding van het Corona virus tegen te gaan, heeft de Nationale Veiligheidsraad beslist de lessen te schorsen tot en met 19 april. Er is geen opvang voorzien op de school. De academie blijft per mail bereikbaar.</div> -->
<div class="mb4 ml5 dn dib-l"><img class="nav__logo fixed-l " src="{{ theme:asset src="img/logo.png" }}"></div>



<header>
  <section class="bg-white">
    <img style="width:calc(100% - 10vw);margin:5vw;height:auto" src="{{ theme:asset src='img/expo24.jpg' }} ">
  </section>

    {{ partial src="grid"}}
</header>


<section class="bg-white">
  <div id="over" style="height:4rem;width:100%;"></div>
<!--  <section class=" bg-white w-80 f3 center">-->
<!--    {{ partial src="openAtelier2023"}}-->
<!--  </section>-->
    
    <div class="w-80 subtitle center">
      
      <!-- <h2 class="mt5 ph5 pv1">Over</h2> -->
    </div>
  {{ partial src="about"}}
</section>

<section class="bg-white">
<div class="w-80 cf bg-white pv5 center">

	  {{ partial src="newsletter"}}
</div>
</section>




<div class="section__wrapper">
  <div id="opleidingen" style="height:8rem;width:100%;"></div>
  <section class=" flex flex-wrap w-80  center">
    <div class="w-80 subtitle ">
      <h2 class="mt5 ph5 pv1">Opleidingen</h2>
    </div>
        
    <div class="flex w-100 pb3 flex-wrap">
      
        {{ atelier }}
          <a
            class="w-auto-ns w-100 tc link black dib ma3 bg-white ph5 pv2 atelier__nav"
            href="/#{{ title | dashify }}"
            title="{{ title }}"
          >{{ title }}</a>
        {{ /atelier }}
      
      
    </div>
    <div class="ateliers__container">
      {{ atelier }}
        {{ if collection == false }}
          {{ partial src="atelier"}}
        {{ elseif collection == true }}
        	  {{ partial src="atelier--adult"}}
        {{ /if }}
      {{ /atelier }}
    </div>
      
  </section>

  <div id="inschrijven" style="height:8rem;width:100%;"></div>
  <section class="pa4 pa5-l bg-white w-80 f3 center">
    {{ partial src="inschrijvingen" }}
  </section>

{{ if team_members }}
<div id="wieiswie" style="height:8rem;width:100%;"></div>
<section class="pa4 pa5-l bg-white w-80 f3 center">
  {{ partial src="team" }}
</section>
{{ /if }}

  <div id="contact" style="height:8rem;width:100%;"></div>
  <footer class="pa4 pa5-l flex bg-white w-100  center">
      
    <div class="w-80 center">
        <h2 class="mt5 pv1 w-100 pa5 pl0">Contact</h2>      
      
      {{ partial src="footer"}}
    </div>
  </footer>
  <div class="w-100 flex justify-center">
      <img class="footer__logo" src="{{ theme:asset src="img/logo.png" }}">
    </div>
</div>