<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge,chrome=1"
  >
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  >
  <meta
    name="description"
    content="Another awesome Statamic site"
  >
  <title>{{ title or site_title }}</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
  />
  <link
    rel="stylesheet"
    href="{{ theme:css }}"
  >
</head>


<body>


  <nav class="pa3 pa4-ns">
    <div class="tc pb3">
      <a
        class="link dim gray f6 f5-ns dib mr3"
        href="#"
        title="Home"
      >Home</a>
      <a
        class="link dim gray f6 f5-ns dib mr3"
        href="#"
        title="About"
      >Over</a>
      <a
        class="link dim gray f6 f5-ns dib mr3"
        href="#"
        title="Store"
      >Opleidingen</a>
      <a
        class="link dim gray f6 f5-ns dib mr3"
        href="#"
        title="Contact"
      >Evenementen</a>
      <a
        class="link dim gray f6 f5-ns dib mr3"
        href="#"
        title="Contact"
      >Links</a>
      <a
        class="link dim gray f6 f5-ns dib mr3"
        href="#"
        title="Contact"
      >Contact</a>
      <a
        class="link dim gray f6 f5-ns dib"
        href="#"
        title="Contact"
      >Inschrijven</a>
    </div>
  </nav>

  <header>


    <div class="grid__container">
      <div class="grid__image">
        <img
          src="{{ theme:img src="gridImages/files_site.png" }}"
          alt="Logo"
        >
      </div>
    </div>
  </header>

  <section class="info">
    <div class="w-80 cf helvetica dark-gray bg-white pa3 pa4-m pa5-l center">
    <div class="fl w-50 pr2 pr3-l mb3 mb4-l">
      <div
        class="cover pv5 pv6-m pv7-l"
        style="background:black url(http://mrmrs.github.io/photos/v/022.jpg) center;"
      ></div>
    </div>
    <div class="fl w-50 w-25-l pl2 pr2-m ph2-l mb3 mb4-l">
      <div
        class="cover pv5 pv6-m pv7-l"
        style="background:black url(http://mrmrs.github.io/photos/v/024.jpg) center;"
      > </div>
    </div>
    <div class="fl w-50 w-50 w-25-l pr2 pr0-l pl3-l mb3 mb4-l">
      <div
        class="cover pv5 pv6-m pv7-l"
        style="background:black url(http://mrmrs.github.io/photos/050.jpg) left;"
      > </div>
    </div>
    <div class="fl w-50 w-50 w-25-l pl2 pl0-l pr2-m pr4-l mb3 mb4-l">
      <div
        class="cover pv5 pv6-m pv7-l"
        style="background:black url(http://mrmrs.github.io/photos/049.jpg) center;"
      > </div>
    </div>
    <div class="fl w-100 w-50-l pr2-l pl2-ns mb4 mb0-l mb4 outline">
      <div class="pa4">
        <h1 class="f4 f2-l fw7 mt0 pv3-l bb-l bb--black">#004</h1>
        <p class="lh-copy mt2 mt3-m mt5-l f6">
          <span class="db-ns f6 fw7 lh-solid mb3 mb0-m mb4-l">Mies, my great mentor said:</span>
          <span class="fw9 f6 f1-l db lh-title mb3 mb4-l">“God is in the details.”</span>
          <span class="db-l measure-wide">
            That is the essence of syntax: the discipline
            that controls the proper use of grammar in the construction of phrases and the articulation of a language,
            Design. The syntax of design is provided by many components in the nature of the project.
          </span>
        </p>
      </div>
    </div>
    <div class="cf">
      <div class="fl w-100 w-25-l pl3-l mb3 mb4-l">
        <div
          class="cover pv5 pv6-m pv7-l"
          style="background:black url(http://mrmrs.github.io/photos/051.jpg) center;"
        > </div>
      </div>
      <div class="fl w-100 w-25-l pr3-l">
        <p class="lh-copy measure f6 pt4 pt0-l mt0 mb3 mb4-l center">
          De Sint-Lukasacademie is een instelling van het deeltijds kunstonderwijs (DKO). We richten
          ons op kinderen (6 tot 12 jaar), jongeren (12 tot 18 jaar) en volwassenen (18 jaar en meer) die in hun vrije
          tijd de mogelijkheden van de beeldende kunsten willen verkennen.
          Wij bieden u, geheel naar onze unieke pedagogie, een kwalitatief onderwijs op maat in zowel creatieve als
          kunstbeschouwelijke opleidingen.

          Met de invoering van het nieuw decreet op het deeltijds onderwijs op 1 september 2018 heeft de
          Sint-Lukasacademie haar aanbod aangepast en geactualiseerd. Nieuw in ons aanbod is het atelier digitale
          kunst , het atelier grafisch ontwerp en illustratie en een opleiding in de kunstbeschouwing. De opleiding
          specialisatie is gereorganiseerd naar de nieuwe regelgeving. Hierdoor wordt de specialisatie de enige
          opleiding waar toelatingsvoorwaarden gelden.
        </p>
      </div>

      <div class="fl w-100 w-75-l pv0 mv0">
        <div class="fl w-100 mb2 mb4-l">
          <div
            class="cover pv5 pv6-l"
            style="background:black url(http://mrmrs.github.io/photos/u/001.jpg) center;"
          > </div>
        </div>
        <div class="fl w-25 mb2 mb4-l">
          <div
            class="cover pv5 pv6-m pv7-l"
            style="background:black url(http://mrmrs.github.io/photos/u/002.jpg) center;"
          > </div>
        </div>
        <div class="fl w-75 pl2 pl4-l mb2 mb4-l">
          <div
            class="cover pv5 pv6-m pv7-l"
            style="background:black url(http://mrmrs.github.io/photos/u/003.jpg) center;"
          > </div>
        </div>
        <div class="fl w-100 mb2 mb4-l">
          <div
            class="cover pv5 pv6-ns"
            style="background:black url(http://mrmrs.github.io/photos/u/004.jpg) center;"
          > </div>
        </div>
      </div>
    </div>
  </div>

  </section>

    <section class="w-80 ma5 center">
      <div class="fl w-100 w-40-ns tc bg-white pa5">
        <h1>atelier kinderen</h1>
        <p class="f6 f5-l lh-copy">
            Of read avidly by Synthetic cubism, practiced by Hegel's Lectures on a hundred. Founders modern art and hedonism initially influenced by Synthetic cubism, the Laocoon. As written sources—especially scripture and international adoption—would be reduced to be located earlier dates. Most Arnason Each of art, establishment of scholars who wrote. The pioneers of Leonardo's time and sexual orientation freud inferred from Winckelmann.
        </p>
      </div>
      <div class="fl w-100 w-60-ns tc">

        <div class="fl w-50 w-25-ns ph2">
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/adam-stern-031209_960-2.jpg"
            ></a>
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/hw-080411-cargo_960.jpg"
            ></a>
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/hw18-240112-cc_960.jpg"
            > </a>
        </div>
        <div class="fl w-50 w-25-ns ph2">
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/zach-hurd-101218_960.jpg"
            ></a>
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/zh170311.4.cargo_960.jpg"
            ></a>
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/hwspringtour-cargo_960-1.jpg"
            ></a>
        </div>
        <div class="fl w-100 w-50-ns ph2">
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/elevaters030211_960.jpg"
            ></a>
          <a
            href=""
            class="no-underline pv2 grow db"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/elevaters.jpg"
            ></a>
        </div>
      </div>
    </section>



    <section class="w-80 ma5 center">
      <div class="fl w-100 w-60-ns tc ">
        <div class="fl w-100 w-50-ns ph2">
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/elevaters030211_960.jpg"
            ></a>
          <a
            href=""
            class="no-underline pv2 grow db"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/elevaters.jpg"
            ></a>
        </div>
        <div class="fl w-50 w-25-ns ph2">
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/adam-stern-031209_960-2.jpg"
            ></a>
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/hw-080411-cargo_960.jpg"
            ></a>
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/hw18-240112-cc_960.jpg"
            > </a>
        </div>
        <div class="fl w-50 w-25-ns ph2">
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/zach-hurd-101218_960.jpg"
            ></a>
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/zh170311.4.cargo_960.jpg"
            ></a>
          <a
            href=""
            class="pv2 grow db no-underline black"
          ><img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/hwspringtour-cargo_960-1.jpg"
            ></a>
        </div>
      </div>
      <div class="fl w-100 w-40-ns tc bg-white pa5">
          <h1>atelier kinderen</h1>
          <p class="f6 f5-l lh-copy">
              Of read avidly by Synthetic cubism, practiced by Hegel's Lectures on a hundred. Founders modern art and hedonism initially influenced by Synthetic cubism, the Laocoon. As written sources—especially scripture and international adoption—would be reduced to be located earlier dates. Most Arnason Each of art, establishment of scholars who wrote. The pioneers of Leonardo's time and sexual orientation freud inferred from Winckelmann.
          </p>
      </div>
    </section>
  

<section class="w-80 ma5 center">
   
    <div class="dt dt--fixed">
        <div class="dtc tc pv4  pa5 ">
          <div class="adults__container">
            <h3 class="csstransforms pa1">FOTOKUNST</h3>
            <img
            class="db w-100"
            src="https://s3-us-west-2.amazonaws.com/prnt/zh170311.4.cargo_960.jpg"
          >
          </div>
        </div>
        <div class="dtc tc pv4 pa5 ">
            <div class="adults__container">
              <h3 class="csstransforms pa1">FOTOKUNST</h3>
              <img
              class="db w-100"
              src="https://s3-us-west-2.amazonaws.com/prnt/zh170311.4.cargo_960.jpg"
            >
            </div>
          </div>
          <div class="dtc tc pv4 pa5 ">
              <div class="adults__container">
                <h3 class="csstransforms pa1">FOTOKUNST</h3>
                <img
                class="db w-100"
                src="https://s3-us-west-2.amazonaws.com/prnt/zh170311.4.cargo_960.jpg"
              >
              </div>
            </div>
            
      </div>

      
      
      

</section>


  <!-- <div class="container">


        {{ template_content }}
    </div> -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{{ theme:js }}"></script>

</body>

</html>