<div class="w-80 cf bg-white pv5 center">
  {{ assets:about__images limit="1" }}
    <div class="fl w-50 pr2 pr3-l mb3 mb4-l">
      <div
        class="cover pv5 pv6-m pv7-l"
        style="background:black url( '{{ url }}');background-position: {{ focus_css }};"
      >
      </div>
    </div>
  {{ /assets:about__images }}
  {{ assets:about__images offset="1" limit="1" }}
    <div class="fl w-50 w-25-l pl2 pr2-m ph2-l mb3 mb4-l">
      <div
        class="cover pv5 pv6-m pv7-l"
        style="background:black url('{{ url }}');background-position: {{ focus_css }};"
      > </div>
    </div>
  {{ /assets:about__images }}
  {{ assets:about__images offset="2" limit="1" }}
    <div class="fl w-50 w-50 w-25-l pr2 pr0-l pl3-l mb3 mb4-l">
      <div
        class="cover pv5 pv6-m pv7-l"
        style="background:black url('{{ url }}');background-position: {{ focus_css }};"></div>
    </div>
  {{ /assets:about__images }}
  {{ assets:about__images offset="3" limit="1" }}
    <div class="fl w-50 w-50 w-25-l pl2 pl0-l pr2-m pr4-l mb3 mb4-l">
      <div
        class="cover pv5 pv6-m pv7-l"
        style="background:black url('{{ url }}');background-position: {{ focus_css }};"
      > </div>
    </div>
  {{ /assets:about__images }}

  {{ assets:about__images offset="4" limit="1" }}
  <div class="fl w-100 w-50-l pr2-l pl2-ns mb4 mb0-l mb4">
    <div
      class="cover pv5 pv6-m pv7-l"
      style="background:black url('{{ url }}');background-position: {{ focus_css }};"
    > </div>
  </div>
{{ /assets:about__images }}


  <div class="cf">
    {{ assets:about__images offset="5" limit="1" }}
      <div class="fl w-100 w-25-l pl3-l mb3 mb4-l">
        <div
          class="cover pv5 pv6-m pv7-l"
          style="background:black url('{{ url }}');background-position: {{ focus_css }};"
        > </div>
      </div>
      <div class="fl w-100 w-third-l pr3-l">
        <div class="lh-copy measure f3 pt4 pt0-l mt0 mb3 mb4-l center pa3-l">
          {{ about__text }}
        </div>
      </div>
    {{ /assets:about__images }}

    <div class="fl w-100 w-two-thirds-l pv0 mv0">
      {{ assets:about__images offset="6" limit="1" }}
        <div class="fl w-100 mb2 mb4-l">
          <div
            class="cover pv5 pv6-l"
            style="background:black url('{{ url }}');background-position: {{ focus_css }};"
          > </div>
        </div>
      {{ /assets:about__images }}
      {{ assets:about__images offset="7" limit="1" }}
        <div class="fl w-25 mb2 mb4-l">
          <div
            class="cover pv5 pv6-m pv7-l"
            style="background:black url('{{ url }}');background-position: {{ focus_css }};"
          > </div>
        </div>
      {{ /assets:about__images }}
      {{ assets:about__images offset="8" limit="1" }}
        <div class="fl w-75 pl2 pl4-l mb2 mb4-l">
          <div
            class="cover pv5 pv6-m pv7-l"
            style="background:black url('{{ url }}');background-position: {{ focus_css }};"
          > </div>
        </div>
      {{ /assets:about__images }}
      {{ assets:about__images offset="9" limit="1" }}
        <div class="fl w-100 mb2 mb4-l">
          <div
            class="cover pv5 pv6-ns"
            style="background:black url('{{ url }}');background-position: {{ focus_css }};"
          > </div>
        </div>
        {{ /assets:about__images }}
    </div>
  </div>
</div>