<div class="atelier__container">
  <div
    id="{{ title | dashify }}"
    style="height:8rem;width:100%;"
  >
  </div>
  <div class="flex w-100 flex-wrap" >
    <div class="w-100 w-50-l tr-ns tl bg-white ph5">
      <h3 class="f1">{{ title }} </h3>
      <div class="f3">
        {{ text }}
        {{ if downloads }}
        {{ partial src="downloads__file"}}
        {{ /if }}
        <div>
          {{ if atelier__images | count < 1 }}
          {{ else }}
                
                  <div
                    class="f4 link dim br1 ba ph3 pv2 mb2 dib black pointer js-modal"
                    data-modal-prefix-class="simple"
                    data-modal-text="{{ partial src=&quot;atelier__popup&quot; }}"
                    data-modal-title="Foto's"
                    data-modal-close-img="{{ theme:asset src='img/close.png' }}"
                  >
                    Bekijk de foto's
                  </div>
          {{ /if }}

        </div>
      </div>
    </div>
    <div class="w-100 w-50-l ph5-l">
      {{ assets:atelier__images }}
      {{ if first }}
      <div class="fl w-100 tc">
        <img
          src="{{ url }}"
          alt="{{ alt }}"
          class="db w-100 pl3 js-modal"
          data-modal-prefix-class="simple"
          data-modal-text="<img style=&quot;max-height:80vh;width:auto&quot; class=&quot;db center &quot; src=&quot;{{ url }}&quot; />"
          data-modal-title="{{ title }}"
          data-modal-close-img="{{ theme:asset src='img/close.png' }}"
        />
      </div>
      {{ /if }}
      {{ /assets:atelier__images }}
    </div>
  </div>
</div>