<div id="{{ title | dashify }}" style="height:8rem;width:100%;"></div>
<section class="w-100">
    <h2 class="mt5 ph5 pv1">{{ title }}</h2>
    <div class="flex w-100 pb3 flex-wrap">

        {{ assets:downloads }}
        <a download class="w-auto-ns w-100 tc link black dib ma3 bg-white ph5 pv2 atelier__nav"
                href="{{ url }}"
                title="{{ text }}">{{ text }}</a>
        {{ /assets:downloads }}


    </div>


    <div class="flex flex-wrap items-center center ">
      {{ collection from="atelier_adults" }}
        <div class=" w-third-l w-100 pa5 pointer grow">
          {{ partial src="adults__item"}}
        </div>
      {{ /collection }}
    </div>
  </section>