<div class="flex flex-wrap">
  <div
    class="w-100 w-40-l"
    style="text-align: center;"
  >
  <img class="w-100" src="{{ theme:asset src='img/binnenskamers2.png' }}">

  </div>
  <div class="w-100 w-60-l ph5-l flex flex-column justify-center">
    <p>De Sint-Lukas Kunstschool (Academie, Basisschool en Kunsthumaniora) is gesitueerd in de Brabantwijk in Schaarbeek, pal naast de Hogeschool LUCA School of Arts. Via de website <a href="https://binnenskamers.sintlukas.brussels" target="_blank">binnenskamers.sintlukas.brussels</a> kan je binnenkijken op onze locatie, waarin de drie scholen organisch door elkaar lopen in een uniek pedagogisch project.</p>
  </div>
</div>