<div class="fl ph4 f3 w-100 w-third-ns">
  {{ footer__text--1}}
</div>
<div class="fl ph4 f3 w-100 w-third-ns">
  {{ footer__text--2}}
</div>
<div class="fl ph4 f3 w-100 w-third-ns">
  {{ footer__text--3}}
</div>

{{ locations }}
  {{ if first }}
    

    <div class="fl f3 w-100 w-100-m w-30-l pa5 ">
        {{ text }}
        </div>

        <div class="fl f3 w-100 w-100-m w-70-l pa5">
            {{ map | advanced_maps }}
          </div>

  {{ else }}
    <div class="fl mt5 f3 w-100  w-thirdx   -l pa5">
      {{ text }}
      {{ map | advanced_maps }}
    </div>
  {{ /if }}
{{ /locations }}