<div class="flex flex-wrap">
  <div
    class="w-100 w-40-l"
    style="text-align: center;"
  >
  <img class="w-100" src="{{ theme:asset src='img/inschrijvingen2425.jpg' }}">

  </div>
  <div class="w-100 w-60-l ph5-l flex flex-column justify-center">

<h3 class="f1" style="margin: 0;">Schrijf je in!</h3>
    <p>Inschrijven kan online via <a href="https://www.mijnacademie.be/sintlukasschaarbeek" target="_blank">mijnacademie.be/sintlukasschaarbeek</a> tot 30 september.
</p><p>

    We helpen je graag verder zowel telefonisch of op het onthaal (02 217 77 00 maandag-, dinsdag- en donderdagavond van 17:00 - 20:30) tot en met 30 juni en vanaf 23 augustus, of per mail (<a href="mailto:info.academie@sintlukas.brussels">info.academie@sintlukas.brussels</a>)

  </p>
  </div>
</div>