<div class="flex w-100 justify-between pb3">
  <div></div>
  <div>
  <a
    class="link dim black f3 f2-ns dib mr3"
    href="#"
    title="Home"
  >Home</a>
  <a
    class="link dim black f3 f2-ns dib mr3"
    href="#over"
    title="Over"
  >Over</a>
  <a
    class="link dim black f3 f2-ns dib mr3"
    href="#opleidingen"
    title="Opleidingen"
  >Opleidingen</a>
  <!-- <a
    class="link dim black f3 f2-ns dib mr3"
    href="#"
    title="#contact"
  >Evenementen</a>
  <a
    class="link dim black f3 f2-ns dib mr3"
    href="#"
    title="Contact"
  >Links</a> -->
  <a
    class="link dim black f3 f2-ns dib mr3"
    href="#contact"
    title="Contact"
  >Contact</a>
  <a
    class="link dim black f3 f2-ns dib"
    href="#inschrijven"
    title="Inschrijven"
  >Inschrijven</a>
</div>

    <div>
        <a
        class="link dim black f3 f2-ns dib"
        href="https://www.facebook.com/Sint-Lukas-Academie-1478159235778473/"
        target="_blank"
        title="Contact"
      ><img class="nav__social" src="{{ theme:asset src="img/fb.svg" }}"></a>

      <a
        class="link dim black f3 f2-ns dib pr5"
        href="https://www.instagram.com/sintlukasacademie/"
        target="_blank"
        title="Contact"
      ><img class="nav__social" src="{{ theme:asset src="img/insta.svg" }}"></a>
    </div>
</div>

