<div class="flex w-100 justify-between justify-center flex-wrap">
  <div class="w-100 w-100-m w-10-l flex justify-center ">
    <img class="mv4 dn-l mw5" src="{{ theme:asset src="img/logo.png" }}">
  </div>
  <div class="w-80 flex justify-center">
    <a
      class="link dim black f3 f2-ns dib mr3 tc"
      href="#"
      title="Home"
    >Start</a>
    <a
      class="link dim black f3 f2-ns dib mr3"
      href="#over"
      title="Over"
    >Over</a>
    <a
      class="link dim black f3 f2-ns dib mr3"
      href="#opleidingen"
      title="Opleidingen"
    >Opleidingen</a>
    <a
      class="link dim black f3 f2-ns dib mr3"
      href="#inschrijven"
      title="Inschrijven"
    >Inschrijven</a>
    <a
      class="link dim black f3 f2-ns dib mr3"
      href="#contact"
      title="Contact"
    >Contact</a>

  </div>

  <div class="w-10 flex justify-center">
    <a
      class="link dim black f3 f2-ns dib "
      href="https://www.facebook.com/Sint-Lukas-Academie-1478159235778473/"
      target="_blank"
      title="Contact"
    ><img
        class="nav__social"
        src="{{ theme:asset src="img/fb.svg" }}"
      ></a>

    <a
      class="link dim black f3 f2-ns dib "
      href="https://www.instagram.com/sintlukasacademie/"
      target="_blank"
      title="Contact"
    ><img
        class="nav__social"
        src="{{ theme:asset src="img/insta.svg" }}"
      ></a>
  </div>
</div>