<div class="flex flex-wrap">
  <div
    class="w-100 w-40-l"
    style="text-align: center;"
  >
  <img class="w-100" src="{{ theme:asset src='img/openAtelierBanner.png' }}">

  </div>
  <div class="w-100 w-60-l ph5-l flex flex-column justify-center">
<h3 class="f1" style="margin: 0;">Ontdek onze ateliers</h3>
    <p>Bezoek van 12 tot en met 16 september onze academie en neem deel aan een atelier naar keuze.
</p><p>Volg ons op <a href="https://www.instagram.com/sintlukasacademie" target="_blank">Instagram</a> of <a href="https://www.facebook.com/sintlukasacademie" target="_blank">Facebook</a> voor updates.</p>
  </div>
</div>