
<h2>{{ team_title }}</h2>
<div class="f3">
  {{ team_text }}
</div>

<div class="flex flex-wrap">
  
  
  {{ team_members }}
  <div class="fl ph1 pv4 f3 w-100 w-third-ns">
    
    <!-- Youtube and Vimeo -->
    
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='{{ member_movie | embed_url }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    
    <div>
      {{ team_description }}
    </div>
  </div>
  {{ /team_members }}

  
  </div>
</div>

